@(accForm: Form[UserAccount])

@import helper._
@import helper.twitterBootstrap._

@main("Account form") {
  <h1>UserAcount form</h1>
  @form(CSRF(routes.UserAccounts.save())) {
    <fieldset>
      <legend>Acc (@accForm("name").valueOr("New"))</legend>
      <input type="hidden" value="@accForm("id").valueOr("")" name="id"/>
      @helper.inputText(accForm("account"), '_label -> "Account")
      @helper.inputText(accForm("email"), '_label -> "Email")
      @helper.inputText(accForm("pass"), '_label -> "Pass")
      @helper.inputText(accForm("name"), '_label -> "Name")
      @helper.inputText(accForm("deTai"), '_label -> "Đề Tài")
      @helper.textarea(accForm("description"), '_label -> "Description")
      @helper.inputText(accForm("date"), '_label -> "Date")
      @*inputDate(field = accForm("date"), args = 'size -> 10, '_label -> "Date")*@
    </fieldset>
    <input type="submit" class="btn btn-primary" value="Save">
    <a class="btn" href="@routes.UserAccounts.list()">Cancel</a>
  }
}